################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Refuerzo2024/FileContentIndex/c6066256-7474-4653-bab0-52f793410afa.vsidx
/.vs/Misael-Alexander-Rec.Ordinaria2024/v17/.wsuo
/.vs/Refuerzo2024.csproj.dtbcache.json
